@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap');

*{
  font-family: 'Open Sans';
}

body{
  background-color: #F7F7F7;
}

/* NAVIGATION BAR */
.nav {
  padding: 2%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  width: 100%;
  height: 64px;
  position: fixed;
  top:0;
  z-index: 2;
}
.logo {
  top: 17px;
  left: 34px;
  width: 129px;
  height: 32px;
  background: transparent url('img/advotics-logo.jpg') 0% 0% no-repeat padding-box;
  opacity: 1;
}
.nav span{
  opacity: 1;
  position: relative;
  letter-spacing: 0;
  text-align: left;
}
.navbar-text{
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 200px;
}
.powered {
  top: 10px;
  width: 61px;
  height: 15px;
  font-size: 11px;
  font-weight: 400;
  color: #5B5B5B;
  margin: 5px;
}
.logo2 {
  top: 10px;
  width: 72px;
  height: 18px;
  background: transparent url('img/advotics-logo.jpg') 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
}
.user {
  top: -8px;
  left: 52px;
  font-size: 14px;
  font-weight: 600;
  color: #727272;
}
.company{
  top: 8px;
  left: -18px;
  font-size: 10px;
  font-weight: 300;
  color: #727272;
}
.ava{
  margin: 0 -3px;
  width: 32px;
  height: 32px
}
button{
  border: none;
}
.logout{
  position: relative;
  top: 10px;
  width: 15px;
  height: 15px;
  background: transparent url('img/logout.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  float: right;
}
/* NAVIGATION BAR */


/* NAVIGATION LEFT */
.navigation-left {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.5px solid #D2D2D2;
  opacity: 1;
  top: 64px;
  left: 0px;
  width: 72px;
  height: 859px;
  position: absolute;
}
.navigation-left a{
  width: 72px;
  height: 48px;
  display: inline-block;
}
.sidebar-menu {
  top: 12px;
  width: 24px;
  height: 21px;
  position: relative;
  left: 24px;
}
.highlight {
  background:
  #D2D2D2 0% 0% no-repeat padding-box;
  opacity: 1;
  display: inline-block;
  padding: 12px 24px;
}
.rectangle{
  width: 24px;
  height: 21px;
  background-color: #FFFFFF;
  opacity: 1;
  border-radius: 3px;
}
.dashboard-menu {
  position: relative;
  top: -4px;
  left: 3px;
  width: 17px;
  height: 17px;
  opacity: 1;
}
/* NAVIGATION LEFT */



/* BODY */
.body-wrapper {
  position: absolute;
  top: 64px;
  left: 90px;
  padding: 24px;
  width: 100%;
}

h1 {
  color: #707070C4;
  font-weight: 600;
  float: left;
}
.date-picker{
  float:right;
}

.cal {
  position: relative;
  bottom:30px;
}

.cal-img{
  position: relative;
  top:10px;
  left:15px;
}

.period{
  text-align: left;
  font: 400 16px 'Open Sans';
  letter-spacing: 0;
  color: #8B8B8B;
  opacity: 1;
  position: relative;
  top: 12px;
  left: 30px;
}

.down{
  position: relative;
  bottom:98px;
  left:455px;
  color:#757575;
}

.top-section {
  margin-bottom: 24px;
  justify-content: space-between;
  max-width: 1188px;
}
.date-picker{
  width: 481px;
  height: 48px;
  background:#FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 3px #00000029;
  border-radius: 2px;
  opacity: 1;
}

.market-insight {
  width: 100%;
  height: 48px;
  background-color: #37B04C;
  padding: 12px;
  display: inline-block;
}
.mi-title{
  text-align: left;
  font-size: 20px/13px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  width: 75%;
}

@media (min-width: 1300px) {
  .body-wrapper {
    max-width: 1420px;
  }
  .market-insight {
    max-width: 1188px;
  }
}

.help {
  width: 20px;
  height: 20px;
  position: relative;
  left: -15px;
}

.click {
  text-align: left;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  margin:0 5px;
  position: relative;
  left:-15px;
}

.arrowup {
  position: relative;
  left: -18px;
  width: 16px;
  height: 10px;
  background-color: transparent;
  color: #FFFFFF;
}
.sales {
  margin-top: 12px;
  margin-bottom: 12px;
}
.sales-img {
  width: 276px;
  height: 104px;
  margin-left:-20px;
  position: absolute;
}
.trolley {
  width: 49px;
  height: 43px;
  z-index:1;
  position:relative;
  top: 37px;
  left: 152px;
}
.chart {
  width: 570px;
  height: 424px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px #0000000A;
  border: 0.5px solid #CDCDCD;
  border-radius: 2px;
  opacity: 1;
  padding: 24px;
  font-size: 12px !important;
}
.recharts-wrapper{
  position: relative;
  top:24px;
  left:-10px;
}

.apv{
  text-align: left;
  font: 20px Source Sans Pro;
  font-weight: 400;
  letter-spacing: 0;
  color: #4D4F5C;
  opacity: 1;
  margin-bottom: 12px;
}


.data{
  margin-top: 72px;
}

.list-prod{
  width: 285px;
  height: 424px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px #0000000A;
  border: 0.5px solid #CACED5;
  border-radius: 2px;
  opacity: 1;
  padding:12px;
  margin: 0 0 0 24px;
}

.list{
  position: relative;
  top: 12px;
  left: 24px;
}

.title{
  text-align: left;
  font: 20px 'Source Sans Pro';
  letter-spacing: 0;
  color: #4D4F5C;
  opacity: 1;
  position: relative;
  left: 12px;
}

.menu-dot img{
  width: 12px;
  height: 24px;
  position: relative;
  bottom: 3px;
  left: 88px;
}

.img2 img{
  left: 55px !important;
}

.best-prod{
  width: 243px;
  height: 80px;
  background: #FFE7BD 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  margin-bottom: 8px;
}

.prod-name-first{
  text-align: left;
  font: 20px 'Source Sans Pro';
  font-weight: 400;
  letter-spacing: 0;
  color: #000000DE;
  opacity: 1;
  position: relative;
  top: 20px;
  left: 8px;
}

.prod-info-first {
  text-align: left;
  font: 14px 'Source Sans Pro';
  font-weight: 400;
  letter-spacing: 0.25px;
  color: #00000099;
  opacity: 1;
  position: relative;
  top: 48px;
  right: 68px;
  /* bottom: 32px;
  left: 92px; */
}

.jml{
  top:-35px;
  left:175px;
  right:0px;
}

.jml2 {
  left:7px !important;
}

.prod-img-first {
  width: 80px;
  height: 80px;
  border-radius: 4px 0px 0px 4px;
  opacity: 1;
}

.prod {
  width: 243px;
  height: 60px;
  border: 0.5px solid #C5C5C59C;
  border-radius: 4px;
  opacity: 1;
  margin-bottom: 8px;
}

.prod-img {
  border-radius: 4px 0px 0px 4px;
  opacity: 1;
  width: 60px;
  height: 60px;
}

.prod-name {
  text-align: left;
  font: 400 16px 'Source Sans Pro';
  letter-spacing: 0;
  color: #000000DE;
  opacity: 1;
  position: relative;
  top: 12px;
  left: 12px;
}

.prod-info {
  text-align: left;
  font: 400 12px 'Source Sans Pro';
  letter-spacing: 0.22px;
  color: #00000099;
  opacity: 1;
  position: relative;
  top: 32px;
  right: 52px;
}




















.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
