@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

*{
  font-family: 'Open Sans';
}

/*NAVIGATION BAR*/
.nav {
  padding: 2%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  width: 100%;
  height: 64px;
  position: absolute;
}
.logo {
  top: 17px;
  left: 34px;
  width: 129px;
  height: 32px;
  background: transparent url('img/advotics-logo.jpg') 0% 0% no-repeat padding-box;
  opacity: 1;
}
.nav text{
  opacity: 1;
  position: relative;
  letter-spacing: 0;
  text-align: left;
}

.navbar-text{
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 200px;
}

.powered {
  top: 10px;
  width: 61px;
  height: 15px;
  font-size: 11px;
  font-weight: 400;
  color: #5B5B5B;
  margin: 5px;
}
.logo2 {
  top: 10px;
  width: 72px;
  height: 18px;
  background: transparent url('img/advotics-logo.jpg') 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
}

.user {
  top: -8px;
  left: 52px;
  font-size: 14px;
  font-weight: 600;
  color: #727272;
}

.company{
  top: 8px;
  left: -18px;
  font-size: 10px;
  font-weight: 300;
  color: #727272;
}

.ava{
  margin: 0 -3px;
  width: 32px;
  height: 32px
}
button{
  border: none;
}
.logout{
  position: relative;
  top: 10px;
  width: 15px;
  height: 15px;
  background: transparent url('img/logout.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  float: right;
}

/*NAVIGATION BAR*/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
